<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289910076286-faoe18vguhn1ce0n09g7smstcdl90aha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289910076286-faoe18vguhn1ce0n09g7smstcdl90aha</string>
	<key>API_KEY</key>
	<string>AIzaSyBSMgXomK2jU42U97Aob2M_pwAllYeoLB8</string>
	<key>GCM_SENDER_ID</key>
	<string>289910076286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mltindustries.app</string>
	<key>PROJECT_ID</key>
	<string>mlt-industries</string>
	<key>STORAGE_BUCKET</key>
	<string>mlt-industries.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289910076286:ios:dbf2e9883ba28c1529792f</string>
</dict>
</plist>